.search-bar {
    background-color: #f7f5fa;
    border: 1px solid #dddddd;
    padding: 10px;
}

categorynavigator div {
    width: 100%;
    margin-bottom: 10px;
}

categorynavigator button {
    width: 100%;
}