<!DOCTYPE html>
<html lang="en" class="fuelux">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all" %>
  
  <title>Anastasia</title>
</head>
<body ng-app="application">
    <div class="container main">
        <%= yield %>
    </div>
<%= javascript_include_tag "application","data-turbolinks-track" => false %>
</body>
</html>
